@import "tailwindcss";
@import "./theme.css";

.contenedor__h1{
  font-family: var(--heading-h1-font-family);
  font-size: var(--heading-h1-font-size);
  font-style: var(--heading-h1-font-style);
  font-weight: var(--heading-h1-font-weight);
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  text-align: center;
  color: rgb(68, 20, 112);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenedor__text{
  font-family: var(--text-normal-font-family);
  font-size: var(--text-normal-font-size);
  font-style: var(--text-normal-font-style);
  font-weight: var(--text-normal-font-weight);
  letter-spacing: var(--text-normal-letter-spacing);
  line-height: var(--text-normal-line-height);
  text-align: center;
  color: gray;
}

.contenedor__h6{
  font-family: var(--heading-h6-font-family);
  font-size: var(--heading-h6-font-size);
  font-style: var(--heading-h6-font-style);
  font-weight: var(--heading-h6-font-weight);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
}

.contenedor__alignContent {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 100px;
  margin: 40px;
  justify-content: center;
}

.contenedor__margin {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
}

.contenedor__image {
  width: 100%;
  height: 400px;
  object-fit: cover; 
}

.contenedor__texto {
  padding: 10px 12px;
  flex-grow: 1;
}

.contenedor__h6 {
  font-family: var(--heading-h6-font-family);
  font-size: var(--heading-h6-font-size);
  font-weight: var(--heading-h6-font-weight);
  line-height: var(--heading-h6-line-height);
  margin-bottom: 5px;
  color: var(--color-black-1);
}

.contenedor__texto p {
  font-family: var(--text-small-font-family);
  font-size: var(--text-small-font-size);
  color: var(--color-grey-2);
  line-height: var(--text-small-line-height);
  margin-top: 10px;
}
